
<h2 id="form">Credit Taking Options</h2>
<h3 id="h3">Your email address and your Phone numbers info will be used to evaluate your credit eligibility. We keep this information confidential</h3>
<p>  </p>
<br />
<p>  </p>
<br />
<div class="text-center">
    <button><a id="button" asp-action="ThanksCr" class="btn btn-primary">$5 Credit</a></button>

    <p>  </p>
    <br />

    <button><a id="button" asp-action="ThanksCr" class="btn btn-primary">$10 Credit</a></button>

    <p>  </p>
    <br />
    <p id="dr"><strong>Service charges may differ according to Which plan one is taking. $5 will be bit cheaper, but it will have less time period to revive. $10 plan has some extra service charges upon revival but it has more time duration.</strong></p>
</div>





