<h2 id="h2">Insurance Policy</h2>
<br />
<p class="text-center">
    <img width="400" src="~/images/lost.jpg" />
</p>
<p id="h3">If you have already registered for the Insurance Policy and wants to claim your Lost card, Click<a asp-action="Claim">here</a></p>
<br />
<p id="h4">If you want to get register for our insurance policy, Click<a asp-action="RegInsure">here</a></p>