<p>
    <br />
</p>
<p></p>
<br />
<div class="text-center">
    <h2 id="button">Scan your Code from here</h2>
    <br />
    <img src="~/images/QR.gif" />
    <br />
    <p id="h2"> WHAT'S NEW</pid="">
    <p id="h4" >Tap Presto: New feature in this App which is that with NFC framework, users can tap presto while travelling.</p>
    <p  id="form">Click <a asp-controller="Reviews" asp-action="Create">here</a> to give your comments on Presto.</p>
</div>