<h2>Congratulations! ...</h2>
<br />
<img src="~/images/Capture1.PNG" />
<br />
<p>  </p>
<br />
<p><br /></p>
<p id="h4"><strong>Click <a asp-controller="Home" asp-action="Index">here</a> to go back to Homepage.</strong></p>