<h2 id="h2">Thank you! Claim requested... We will notify you about the latest update via Email</h2>
<br />
<p class="text-center">
    <img width="700" src="~/images/Claim.png" />
</p>
<br />
<p class="text-center"><strong>Click <a asp-controller="Reviews" asp-action="Create">here</a> to share your experience with Presto.</strong></p>